/* Copied from RapidUI | Source: rapid_ui/docs/app/assets/stylesheets/index.css */
@import "./code-theme-light.css";
@import "./demo.css";

.typography-h2 a, .typography h2 a,
.typography-h3 a, .typography h3 a,
.typography-h4 a, .typography h4 a,
.typography-h5 a, .typography h5 a,
.typography-h6 a, .typography h6 a {
  color: var(--color-core-text);
  text-decoration: none;
}
